*{
    margin: 0;
}
nav > ul > li{
    display: inline;
    margin: 10px;
    

    font-size: 25px;
    
}
nav>ul{
    text-align: center;
    background-color: rgb(250, 201, 201);
    padding: 30px;
}
nav > ul > li > a{
    text-decoration: none;
    color: rgb(2, 103, 253);
}
footer{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}